<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State Restorer</title>
    <stylerel="stylesheet" href="static/style.css"></style>
</head>